@import url(http://fonts.googleapis.com/css?family=PT+Sans);

/* --------------------------------------------- 

* Filename:     style.css
* Website:      http://www.Whywebs.com
* Description:  System Style
* Author:       Whywebs Dev Team
                sam@Whywebs.com

-----------------------------------------------*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear {
  clear:both;
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0;
}

.clear:after {
  clear:both;
  content:' ';
  display:block;
  font-size:0;
  line-height:0;
  visibility:hidden;
  width:0;
  height:0;
}

 html .clear {
  height:1%;
}

{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 140%;
  color: #000;
  font-size:16px;
  font-family: "Times New Roman", Times, serif;
  background: #AAA;
}

a {
  color: #18BC9C;
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
  color: #18BC9C;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  margin-bottom:6px;
  color: #333;
}

h1 {
  font-size:22px;
}

h2 {
  font-size:18px;
}

h3 {
  font-size:16px;
}

h4 {
  font-size:14px;
}

p {
  margin-bottom:15px;
  color: #333;
}

table {
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom: 15px;
  width: 100%;
}

th, tr, td {
  vertical-align: middle;
}

.sticky-header th, .sticky-table th {
  border-bottom: 1px solid #000;
  padding-right: 1em;
  text-align: left;
}

table {
  background: #ececec;
  border: 1px solid #000;
}

th {
  background: #2E3D4A;
  border-right: 1px solid #c8c7c7;
  color: #fff;
  padding: 10px;
  font-weight: bold;
}

td {
  background: #FFF;
  color: #747474;
  text-align: left;
  padding: 10px;
  border: 1px solid #DBDBDB;
}

code {
  background: rgb(250, 250, 250);
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbbbbb;
  display: block;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

mark {
  background-color:#fdfc9b;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

hr {
  border:none;
  border-top:#EEE 1px solid;
}

dt {
  font-weight:bold;
  margin-bottom:24px;
}

dd {
  margin-left:30px;
  margin-bottom:24px;
}

ul {
  list-style-type:disc;
  margin-left:25px;
  margin-bottom:12px;
}

ul ul {
  list-style-type:square;
  margin-bottom:0;
}

ul ul ul {
  list-style-type:circle;
}

ol {
  list-style-type:decimal;
  margin-left:30px;
  margin-bottom:24px;
}

ol ol {
  list-style: upper-alpha;
  margin-bottom:0
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: lower-alpha;
}

abbr, acronym {
  border-bottom:#999 1px dotted;
  cursor:help;
}

big {
  font-size:1.3em;
}

cite, em {
  font-style:italic;
}

ins {
  background-color:#fdfc9b;
  text-decoration:none;
}

pre {
  background: #d8d8d8;
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbbbbb;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

blockquote, q {
  quotes:none;
  border: 1px solid rgb(226, 220, 220);
  background: rgb(250, 247, 247) url(../images/quote.png) no-repeat;
  padding: 10px 5px 5px 47px;
  text-shadow: 1px 1px #fff;
  margin: 5px 0;
  border-radius: 7px;
}

blockquote:before, blockquote:after, q:before, q:after {
  content:'';
  content:none;
}

strong {
  font-weight:bold;
}

sup, sub {
  height:0;
  line-height:1;
  vertical-align:baseline;
  position:relative;
  font-size:10px;
}

sup {
  bottom:1ex;
}

sub {
  top:.5ex;
}

img, video {
  max-width:100%;
  height:auto;
}

video {
  display:block;
}

audio {
  max-width:100%;
}

b{ font-weight: bold; color: #333; }

.content-wrap{
  overflow: hidden;
  padding: 20px 0 0 0;
  background: #EAEAEA;
}

#container{
  max-width: 100%;
  margin: 0 auto;
}


aside header{ text-align: center; }


.menu_wrapper{
 width: 100%; 
 height: 35px;
 z-index: 2;
 position: fixed;
  left: 0;
  top: 10px;
}

.menu-wrap{ 
  width: 100%; 
 height: 35px;
 z-index: 2;
 position: fixed;
  left: 0;
  top: 10px;
}

#main-menu { position: fixed; }

#main-menu ul{ margin: 0; }

#main-menu li {
  position: relative;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
}

.drop-down-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  width: 50px;
  background: rgb(40, 40, 40);
  height: 50px;
}

.drop-down-arrow {
  display: block;
  animation:alternate;
  color: #1e4066;
  width: 10px;
  height: 10px;
  margin: 19px 0 0 16px;
  border-top: 10px solid #000;
  border-left: rgba(0, 0, 0, 0) 10px solid;
  border-right: rgba(0, 0, 0, 0) 10px solid;
}

header.siteheader{
  display: block;
  background: url(../images/box.png);
  background-size: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 28px;
  height: 100%;
  z-index: 1;
  webkit-box-shadow: 0px 6px 0px #E4E4E4;
  moz-box-shadow: 0px 6px 0px #E4E4E4;
  box-shadow: 0px 6px 0px #E4E4E4;
}

h1#site-title{
  font-size: 38px;
  margin: 10px 0;
  color: #fff;
  z-index: 4;
  font-family:"Times New Roman", Times, serif;
}

h1#site-title a{
  font-size: 42px;
  margin: 10px 0;
  color: #fff;
  font-family:"Times New Roman", Times, serif;
  display: block;
  line-height: 100%;
}

h1#site-title a:hover{
  text-decoration: none;
}

#site-description{
  font-size: 23px;
   color: #fff;
  font-family:"Times New Roman", Times, serif;
  margin: 0;
  line-height: 100%;
}

#container {
  clear: both;
  overflow: hidden;
}

.container-wrap{
  max-width: 100%;
  margin: 0px auto;
  overflow: hidden;
}

.region ul.menu li, 
.region ul.links li, 
.region .item-list ul li {
  background: url("../images/marker.png") no-repeat scroll 4px center rgba(0, 0, 0, 0);
  list-style: none outside none;
  margin: 0 0 2px;
  padding: 0 0 0 15px;
  text-align: left;
}

.content-sidebar-wrap {
  float:left;
  width:100%;
}

.content-sidebar-wrap #content {
  display: inline;
  margin-bottom: 10px;
  float:right;
  width:100%;
}


#sidebar-first { float: left; min-width: 150px; visibility: visible-xs-block; }

#sidebar-second { float: right; min-width: 150px;}

aside .block{
  padding: 10px 0;
}

aside #user-login-form input.form-text{
  width: 100%;
}

/* 3 columns */

body{
min-width: 250px;

}
body.two-sidebars .content-sidebar-wrap {
  width:79%;
}

body.two-sidebars #content {
  width:73%;
}

body.two-sidebars #sidebar-first {
  width: 24%;
}

body.two-sidebars #sidebar-second {
  width: 19%;
}

body.sidebar-first .content-sidebar-wrap {
  width: 100%;
}

body.sidebar-first #content {
  width: 73%;
}

body.sidebar-first #sidebar-first {
  width: 24%;
}

body.sidebar-second .content-sidebar-wrap {
  width: 75%;
}

body.sidebar-second #content {
  width: 100%;
}

body.sidebar-second #sidebar-second {
  width: 22%;
}

#content{
  padding: 0 5px;
}

.breadcrumb {
  margin: 0px;
  margin-bottom: 0;
  font-size: 12px;
}

.node {
  margin:20px 0;
}

.node h2.title, .page-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.node h2.title a{
  color: #000;
}

.block {
  margin-bottom: 2%;
}

.block:last-child{
  margin: 0;
}
.block{
  min-width: 150px;
}
.block > h2{
  margin: 10px 0;
  padding: 10px 0;
  overflow: hidden;
}

#footer-area ul.menu li a.active{
  color:#ddd;
}

.submitted {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: rgb(247, 247, 247);
  border: 1px solid rgb(236, 236, 236);
  border-radius: 4px;
  clear: both;
  color: rgb(56, 56, 56);
  display: inline-block;
  margin-bottom: 5px;
  padding: 2px 8px;
}

.links {
  color: #000;
  margin-top: 10px;
}

ul.links {
  margin:0;
}

/*------------------------------------------
    Poll, Buttons, Form
-------------------------------------------*/

.poll .vote-form .choices .title {
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
}

.poll .vote-form .choices {
  margin: 0;
}

.form-submit{
  cursor: pointer;
}

input.form-checkbox, input.form-radio {
  vertical-align: baseline;
}

.form-text {
  padding: 6px;
  max-width: 100%;
}

/*------------------------------------------
    Menus and item lists 
-------------------------------------------*/

.item-list ul {
  margin: 0;
  padding: 0;
}

ul.inline {
  clear: both;
}

/*------------------------------------------
    Admin Tabs
-------------------------------------------*/

.tabs-wrapper {
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 5px 0;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.primary li{
  float: left;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  padding: 0 1em;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
}

ul.primary li a:hover, ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

/*---------------------------
    Tabs and Tags
----------------------------*/

.field-name-field-tags {
  margin: 0 0 10px 0;
}

.field-name-field-tags a{
  display: inline-block;
  background: url(../images/tag.png) no-repeat;
  padding: 0px 8px 0 16px;
  height: 22px;
  text-shadow: 1px 1px #fff;
  border-radius: 2px;
  font-size: 12px;
}

.field-name-field-tags .field-item {
  margin: 0 1em 0 0;
}

.field-name-field-tags div {
  display: inline;
}

/*---------------------------
    Profile
----------------------------*/

.profile {
  margin: 1.5385em 0;
}

.profile dd {
  margin-bottom: 1.5385em;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.password-parent {
  width: 36em;
}

/*---------------------------
    Navigation
----------------------------*/

.item-list .pager li {
  background: #cfcfcf;
  border-radius: 3px;
  margin-right: 4px;
  text-shadow: 1px 1px #fff;
}

/* Images */

img { outline: 0; }

img.scale-with-grid { max-width: 100%; height: auto; }

/*---------------------------
    Form Elements
----------------------------*/

fieldset { 
  background: #ffffff; 
  border: 1px solid #cccccc; 
  margin-top: 10px; 
  margin-bottom: 32px;
  padding: 0 0 10px; 
  position: relative; 
  top: 12px;
  -khtml-border-radius: 4px; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  border-radius: 4px; 
}

.fieldset-wrapper { 
  margin-top: 25px; 
}

.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0; 
}

.filter-wrapper { 
  top: 0; 
  padding: 1em 0 0.2em;
  -moz-border-radius: 0; 
  -webkit-border-radius: 0; 
  border-radius: 0; 
}

.filter-help a { 
  font-size: 0.857em; 
  padding: 2px 20px 0; 
}

.filter-wrapper .form-item label { 
  margin-right: 10px; 
}

.filter-wrapper .form-item { 
  padding: 0 0 0.5em 0.5em; 
}

.filter-guidelines { 
  padding: 0 1.5em 0 0.5em;
}

fieldset.collapsed { 
  background: transparent;
  -khtml-border-radius: 0; 
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
   border-radius: 0;
}

fieldset legend { 
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  display: block;
  height: 2em;
  left: -1px;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  top: -12px; 
  width: 100%;
}

fieldset.collapsed legend { 
  -khtml-border-radius: 4px; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  border-radius: 4px; 
}

fieldset .fieldset-wrapper {
  padding: 0 10px;
}

fieldset .fieldset-description {
  margin-top: 5px;
  margin-bottom: 1em;
  line-height: 1.4;
  font-style: italic;
}

input {
  margin: 2px 0;
  padding: 4px;
}

textarea.form-textarea,
select.form-select {
  padding: 4px;
}

input.form-text, 
textarea.form-textarea, select.form-select {
  border: 1px solid #ccc;
}

.form-item, .form-actions {
  margin: 10px 0;
}

.form-actions .form-submit{
  margin-right: 3px;
}

.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px;
}

/*---------------------------
    Form Buttons
----------------------------*/

button,
body a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
  color: #fff;
  border: 0;
  line-height: 100%;
  padding: 13px 20px;
  display: inline-block;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #089177;
  background: #12AB8D;
}

button:hover,
body a.btn:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #089177;
  text-decoration: none;
  color: #fff;
}

a.read_more{
  background: #00AC00;
  padding: 5px 9px;
  text-decoration: none;
  margin: 10px 0;
  border: 0 !important;
}

a.read_more:hover{ background: green; }

ol.search-results { padding-left: 0; }

.search-results li { border-bottom: 1px solid #d3d7d9; padding-bottom: 0.4285em; margin-bottom: 0.5em; }

.search-results li:last-child { border-bottom: none; padding-bottom: none; margin-bottom: 1em; }

.search-results .search-snippet-info { padding-left: 0; }

.top_right .region-search{ float: right; margin: 6% 0; }

.top_right .region-user-menu ul.menu { float: right; }

.search_block{ margin: 9px 0; overflow: hidden; }

.top_right .region-user-menu{ overflow: hidden; width: 100%; }

.top_right ul.menu li a.active{ color: #6CDCFF; }

#footer {
  overflow: auto;
  margin: 0 auto;
}

#footer_wrapper{
  max-width: 100%;
  margin: 20px auto;
}

#copyright{
  max-width: 100%;
  margin: 0 auto;
}

.footer_credit{
  background: #232323;
  overflow: hidden;
}

#copyright > div{
  margin: 20px 0;
  color: #838383;
  text-align: center;
}

#footer-area .column {
  float: left;
  width: 24.2%;
  margin: 0 0 0% 1%;
  padding: 1%;
}

#footer-area .column:first-child {
  margin-left:0;
}

.footer_inner_credit{
  margin: 10px auto;
}

/*---------------------------
    Social Icons
----------------------------*/

.social-media-wrap{
  margin: 50px 0;
  overflow: hidden;
}

.social-icons{
  text-align: center;
}

.social-icons ul{ margin: 0; }
 
.social-icons li{
  display: inline-block;
}

.social-icons li a {
  width: 55px;
  color: #777;
  padding: 15px 7px;
  display: block;
  overflow: hidden;
  background: #E7E7E7;
  border-radius: 50%;
  font-size: 27px;
  height: 55px;
}

.social-icons li a:hover{
  background: #fff;
  color: #000;
}

/*---------------------------
    User Menu
----------------------------*/

.region-user-menu h2{ display: none; }

.region-user-menu ul li{ 
  display: inline-block;
  background: none;
  padding: 0 10px;
  border-right: 1px solid #636363;
  line-height: 100%;
}

.region-user-menu ul li.last {
  border: 0;
  padding-right: 0;
}

/*---------------------------
    Footer
----------------------------*/

.footer_block{ clear: both; }

#footer .block > h2{ padding: 10px 0; }

.bottom_widget #footer-area .column{ width: 32.5%; }

.top_widget #footer-area .column{ width: 49.5%; }

.page-blog article{
  padding-bottom: 20px;
  border-bottom: 1px solid #F0F0F0;
  margin-bottom: 20px;
}

.page-blog article footer{
  padding: 10px 15px;
  border: 1px solid #E7E7E7;
}

.field-name-field-tag{
  margin: 20px 0;
  overflow: hidden;
}

.field-name-field-tag .field-item{
  display: inline-block;
}

.field-name-field-tag .field-item a{
  display: block;
  background: #5183AF;
  color: #FFF;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 3px;
}

.user-menu-wrapper{
  width: 100%;
  background: #000;
  overflow: hidden;
}

.user-menu-wrapper ul.menu{
  text-align: right;
  margin: 0;
  float: right;
}

.user-menu-wrapper ul.menu li{
  margin: 0;
  padding: 0;
  border-color: #383838;
  float: left;
  background: none;
}

.user-menu-wrapper ul.menu li a{
  display: block;
  padding: 5px 13px;
  color: #eee;
  font-size: 12px;
}

.user-menu-wrapper ul.menu li a:hover{
  text-decoration: none;
}

.full-wrap{ max-width: 100%; margin: 0 auto; }

#footer .column li{
  display: block;
  border-bottom: 1px solid #C0C0C0;
  box-shadow: 0px 1px 0px #FAFAFA;
}

#footer .column li a{
  padding: 6px 0;
  display: block;
}

#footer .column li:last-child{
  border: 0;
  box-shadow: none;
}

#footer ul{
  margin: 0;
}

.feature{
  text-align: center;
}

.feature .fa{
  padding: 26px;
  font-size: 58px;
  margin: 0 auto;
  border-radius: 50%;
  width: 110px;
  text-align: center;
  height: 110px;
  margin: 3% 0;
}

#user-login,
#user-pass,
#user-register-form{
  max-width: 500px;
  margin: 2% auto;
  background: white;
  padding: 2% 3%;
  border: 1px solid #DDD;
}

/*Error Style*/

div.error,
div.status,
div.warning{
  background: #FEF5F1;
  border-radius: 3px;
  border-color: #EC7F58;
  padding: 15px 20px;
}

div.status{
  background: #F8FFF0;
  border-color: #BE7;
}

div.warning{
  background-color: #FFFCE5;
  border-color: #ED5;
}

article, 
.not-front .node-page,
.not-front.node-type-blog .node-blog,
.not-front.node-type-article .node-article{
  background: #FCFCFC;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 0 #E0E0E0;
}

.front article{
  text-align: center;
}

/*---------------------------
    Comments
----------------------------*/

.comment{
  background: #F9F9F9;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 0 #D1D1D1;
}

#comments h2.title { 
  margin-bottom: 20px; 
}

.comment div.user-picture img { 
  margin-left: 0; 
}

.comment { 
  margin-bottom: 20px; 
  display: table; 
  vertical-align: top; 
}

.comment-time{
  font-size: 12px;
  margin: 0 0 8px 0;
  font-style: italic;
}

.comment .attribution {
  display: table-cell;
  padding: 0;
  vertical-align: top;
  overflow: hidden;
  width: 17%;
}

.comment .attribution img { 
  margin: 0; 
  border: 1px solid #d3d7d9; 
}

.comment .attribution .username { 
  white-space: nowrap; 
}

.comment .comment-submitted p { 
  margin: 4px 0; 
  font-size: 1.071em; 
  line-height: 1.2; 
}

.comment .comment-submitted .comment-time { 
  font-size: 0.786em; 
}

.comment .comment-submitted .comment-permalink { 
  font-size: 0.786em; 
  text-transform: lowercase; 
}

.comment .content { 
  font-size: 0.929em; 
  line-height: 1.6; 
}

.comment .comment-arrow { 
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent;
  border-left: 1px solid; 
  border-right: 1px solid; 
  height: 40px; 
  margin-left: -36px; 
  margin-top: 15px; 
  position: absolute;
  width: 20px; 
}

.comment .comment-text { 
  padding: 0 10px 10px 10px; 
  display: table-cell; 
  vertical-align: top;
  position: relative; 
  width: 100%; 
}

.comment .indented { 
  margin-left: 40px; 
}

.comment-unpublished { 
  margin-right: 5px; 
  padding: 5px 2px 5px 5px; 
}

.comment .comment-text .comment-arrow { 
  border-left: 1px solid #000; 
  border-right: 1px solid #000; 
}

/*FRONT PAGE*/

.front-blocks{
  overflow: hidden;
}

.front-blocks h2{
  font-size: 22px;
  font-weight: bold;
}

.front-blocks h3{
  font-size: 18px;
  margin: 10px 0;
}

.front-blocks .region {
  overflow: hidden;
}

.frontblockwrap >.region{
  overflow: hidden;
}

.frontblockwrap >.region >.block{ 
  max-width: 100%; 
  margin: 100px auto;
  text-align: center;
  font-size: 16px; 
  line-height: 140%;
}

.front-blocks li{
  list-style-position: inside;
}

.frontuniqueblocks2{
  background: url(../images/box.png);
  background-size: 100%;
  background-position: center;
    box-shadow: 2px 2px 0 #E0E0E0;
/*  background: #1e4066;
*/}

.frontuniqueblocks2 >.block{
  margin: 50px auto;
  padding: 50px;
}

.region-experience *{
  color: #AAA;
}

.frontuniqueblocks3{
  background: url(../images/box.png);
  background-position: center;
  background-size: 100%;
    box-shadow: 2px 2px 0 #E0E0E0;
/*  background: #1e4066;
*/}

.frontuniqueblocks3 *{
  color: #fff;
}

.frontuniqueblocks5{
  background: url(../images/box.png);
  background-size: 100%;
  background-position: center;
    box-shadow: 2px 2px 0 #E0E0E0;
/*  background: #000;
*/}

.region-contact{
  background: #1e4066;
  overflow: hidden;
}

.region-contact *{
  color: #fff;
   z-index: 3;
}

.region-aboutme img{
  max-width: 250px;
  border-radius: 10px;
}

/*Porfolio*/

.portfolio,.awards{
  overflow: hidden;
  margin-bottom: 20px;
}

.portfolio-list{
  float: left;
  width: 33%;
  padding: 0 10px;
}

.portfolio-list img{
  max-width: 100%;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.portfolio-list img:hover{
  opacity: .4;
}

.award-list{
  display: inline-block;
  width: 33%;
}

/*Background in the back */

.toplayer{
  background: url(../images/backgroundw.gif);
  position: fixed;
  background-size: 100%;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -3;
}

.not-front h1#site-title{ margin: 0; }

.not-front header.siteheader{
  font-size: 12px;
  padding: 0 0 20px 0;
  margin: 0;
  box-shadow: 2px 2px 0 #E0E0E0;
}

.not-front #logo img{
    box-shadow: 2px 2px 0 #E0E0E0;
  width: 40px;
}

.not-front h1#site-title a{
  font-size: 30px;
  box-shadow: 2px 2px 0 #E0E0E0;
   z-index: 4;
  margin: 0;
}

.not-front #site-description{
  font-size: 16px;
}

#main-menu ul { display:none; top: 5px; left: 0; }

#main-menu.staticmenu{ 
  position: fixed;
  top: 20px;
  left: 0;
  border: 1px #000;
  bottom: 0;
  background: #000;
  width: 50%;
  overflow: hidden;
  z-index: 8;
}
.staticmenu .menu-navigation-container{
  overflow-y: scroll;
  left: 0;
  top: 10px;
  border: 1px #000;
  height: 100%;
  margin-left: -18px;
}

#main-menu li ul { position:static; border: 0; top: 10%;}

#main-menu li ul ul { margin:0 !important; border: 0; top: 10%;}

#main-menu ul, #main-menu li { float:none; top: 10%;}

#main-menu a {
  width: 100%;
  padding: 15px 0;
  border: 1px #000;
  color: #fff;
  border-radius: 0;
  margin: 0;
  top: 20px;
  left: 0;
  text-align: center;
  border-bottom: 0;
  display: inline-block;
}

#main-menu a:hover{
  text-decoration: underline;
  border-color: white;
}

#main-menu li li a { 
  text-align: left;
  background: #101010;
  border: 1px;
  text-align: center;
  padding: 15px 0;
}

#main-menu li li li a{
  background: rgb(22, 22, 22);
  text-align: center;
  top: 10%;
}

#main-menu li:hover > ul,
#main-menu li li:hover > ul,
#main-menu li li li:hover > ul { 
  display:none;
  top: 10%;
  text-align: center;
}

.drop-down-toggle { display: block; }

.menu_wrapper{ margin: 0; width: 100%;}

#main-menu .nav-toggle {
  position: absolute;
  top: 5%;
  left:  0;
  margin: 0;
  background: url(../images/umb.png) #F9F9F9 no-repeat;
  height: 30px;
  width: 30px;
  float: left;
  text-align: center;
  text-indent: -9999px;
  font-size: 0;
  line-height: 50%;
  display: inline-block;
  padding: 23px;
  z-index: 9;
  box-shadow: 2px 2px 2px #fff;
}

#main-menu .nav-toggle.dropdownactive{
  background: url(../images/mobile-menu.png) 17px -15px #18222B no-repeat;
  position: absolute;
  top: 0;
 z-index: 9;
  left:  0;
  margin: 0;
  height: 35px;
  width: 100%;
  text-align: center;
  background-color: red;
  box-shadow: 2px 2px 2px #fff;
}

#main-menu ul.menu li{
  margin: 0;
  text-align: center;
  top: 10%;
  left: 0;
  padding: 5px;
  width: 100%;
}

#main-menu li.expanded >a,
#main-menu li.expanded li.expanded >a 
#main-menu li.expanded li.expanded li.expanded >a { 
  background: #0D0D0D; 
  background-image: none;
  text-align: center;
  top: 10%;
  width: 100%; 
  padding-right: 0; 
    margin: 0;
}